div{
    background-color: rgb(221, 190, 144);
    height: 9vh;
    width: 20.5vw;
    border: 20px;
    
}

p{
    text-align: center;
    text-justify: center;
}

#nyan{
    height: 9vh;
    width: 6vw;
  }

  ol li{
      list-style: none;
      z-index: 1;
  }