div{
    background-color: rgb(221, 190, 144);
    height: 9vh;
    width: 20.5vw;
    border: solid 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    
  
    
   
    
    
}

/* p{
    text-align: center;
    text-justify: center;
} */


#nyan{
    height: 9vh;
    width: 6vw;
  }
/* 
  ul li{
      list-style: none;
      z-index: 1;
  } */