

p{
    text-align: center;
    font-size: 16;
    margin: 0;
}

.userlist{
    background-color: rgb(66, 151, 221);
    height: 85vh;
    width: 85vh;
}

.schifo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}