.main{
    background-color: rgb(121, 179, 121);
    height: 80vh;
    width: 38vh;
    border: solid 1px black;
}

p{
    text-align: center;
  
}

.child{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
}