.main{
    background-color: rgb(121, 179, 121);
    height: 74vh;
    width: 24vw;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    flex-direction: column;   
}

p{
  text-align: justify;
}

.child{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 100%;
}

#nyan{
  height: 9vh;
  width: 6vw;
}

ul li{
  list-style: none;
}

h4{
  padding: 1.5vh;
}